section.funding {
    position: relative;
    padding: 75px 0;
  }
  
  section.funding h2 {
    font-size: 45px;
    margin-top: 0;
  }
  
  section.funding .badges .badge-link {
    display: block;
    margin-bottom: 25px;
  }
  
  section.funding .badges .badge-link:last-child {
    margin-bottom: 0;
  }
  
  section.funding .badges .badge-link img {
    height: 80px;
  }
  
  @media (min-width: 768px) {
    section.funding .badges .badge-link {
      display: inline-block;
      margin-bottom: 0;
    }
  }
  
  @media (min-width: 768px) {
    section.funding h2 {
      font-size: 45px;
    }
  }

.feature-text{
    color: #D1D1D1;
  }